<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>PMGov - RP iframe</title>
  <script type="text/javascript">
    var stat = "unchanged";
    var client_id = "<%= @oic_session.client_config['client_id'] %>";
    var check_interval = 5*1000;
    var source_origin = window.location.origin;
    var target_origin = new URL("<%= @oic_session.client_config['openid_connect_server_url'] %>").origin;
    var session_state = "<%= @oic_session.session_state %>";
    var alerted = false;
    var last_alert = 0;

    // Create an iframe used to logout user if their session has expired
    let logout_iframe = document.createElement("iframe");
    logout_iframe.style.display = "none";
    logout_iframe.setAttribute("id", "logout_iframe");
    window.parent.document.head.appendChild(logout_iframe);
    
    var mes = client_id + " " + session_state;
    var timer = setInterval(checkSession(), check_interval);

    function checkSession() {
      var opiframe = window.parent.document.getElementById("opiframe").contentWindow;
      opiframe.postMessage( mes, target_origin);
    }

    window.addEventListener("message", receiveMessage, false);
    function receiveMessage(e) {
      if (e.origin !== target_origin) { return alert('Wrong target origin: ' + target_origin); }
      stat = e.data;

      let current_time = Date.now() / (1000*60);
      if (stat == "changed" && (!alerted || (current_time - last_alert) > 60)) {
        alerted = true;
        last_alert = Date.now() / (1000*60);
        window.parent.document.getElementById("logout_iframe").setAttribute("src", window.location.origin + "/logout");
        
        window.alert("Your session is not valid. Please copy your changes and refresh the page to login.");
      }
    }
  </script>
</head>
<body></body>
</html>
